.list {
  list-style: none;
  color: #000;
  text-decoration: none;
}
.item {
  color: #000;
  font-size: 27px;
  text-decoration: none;
}

.item:hover {
  color: #fff;
  background-color: rgb(135, 183, 222);
  text-shadow: 3px 3px #000;
}

.container {
  display: flex;
  margin-left: 40vw;
}
